# instalar
!pip install selenium

In [1]:
# chrome > chromedriver
# firefox > geckodriver
# enviar arquivo do webdrive para pasta do python
# chamar informações da bibilioteca de forma prática
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By


# Cria o navegador
nav = webdriver.Chrome()

# entrar no google e pesquisar a cotação do dolar
nav.get("https://www.google.com.br/")
nav.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("Cotação do dolar", Keys.ENTER)

# pegar a cotação do dólar
cotDolar = nav.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
print(f'1 U$ = {cotDolar:.4} R$')

#=========================================

# pesquisar no google a contação do euro
nav.get("https://www.google.com.br/")
nav.find_element(By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("Cotação do euro", Keys.ENTER)


# pegar a cotação do euro
cotEuro = nav.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
print(f'1 € = {cotEuro:.4} R$')

# =======================================

# pegar a cotação do ouro
nav.get("https://www.melhorcambio.com/ouro-hoje")
cotOuro = nav.find_element(By.XPATH, '//*[@id="comercial"]').get_attribute('value')
cotOuro = cotOuro.replace(',', '.')

print(f'1 G de ouro = {cotOuro:.6} R$')


nav.quit() # encerrar navegador da função

1 U$ = 5.07 R$
1 € = 5.53 R$
1 G de ouro = 325.06 R$

Importando a base de dados

In [2]:
# importar a base de dados
import pandas as pd

tabela = pd.read_excel("Produtos.xlsx")
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

Atualizando os preços e o cáculo do preço final

In [3]:
# atualizar cotação do dolar
locDolar = tabela["Moeda"] == "Dólar"
tabela.loc[locDolar, "Cotação"] = float(cotDolar)#localiza as linha e colunas e prenche com um valor especifico

# atualizar cotação do euro
locDolar = tabela["Moeda"] == "Euro"
tabela.loc[locDolar, "Cotação"] = float(cotEuro)

# atualizar cotação do ouro
locDolar = tabela["Moeda"] == "Ouro"
tabela.loc[locDolar, "Cotação"] = float(cotOuro)

# atualizando valores

# atualizar preço de compra  (preço original * cotação)
tabela["Preço de Compra"] = tabela["Preço Original"] * tabela["Cotação"]
# atualizar preço de venda  (preço de compra * margem)
tabela["Preço de Venda"] = tabela["Preço de Compra"] * tabela["Margem"]

# Exibir dados atualizados
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.075000,5074.94925,1.40,7104.928950
1,Carro Renault,4500.00,Euro,5.538855,24924.84750,2.00,49849.695000
2,Notebook Dell,899.99,Dólar,5.075000,4567.44925,1.70,7764.663725
3,IPhone,799.00,Dólar,5.075000,4054.92500,1.70,6893.372500
4,Carro Fiat,3000.00,Euro,5.538855,16616.56500,1.90,31571.473500
5,Celular Xiaomi,480.48,Dólar,5.075000,2438.43600,2.00,4876.872000
6,Joia 20g,20.00,Ouro,325.060000,6501.20000,1.15,7476.380000

Exportar a nova base de preço atualizada

In [4]:
# Exportar essa base de dados para ter o resultado atualizado

tabela.to_excel("ProdutosNovo.xlsx", index=False)